* {
	/* widths include padding when using the border-box model */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#rainbowbox {
	
	height: 1500%;
	width: 100%;
	position: absolute;
	background: linear-gradient(#dd00f3, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #ff2400);
}

#recipebox {
	
	visibility: hidden;
	text-align: left;
	padding: 2rem;
	width: 90%;
	border: solid 1px gray;
	margin: 0 auto;
}

#body {
	font-family: Arial, Verdana, sans-serif; 
	text-align: center;
	margin: 0;
	padding: 0;
}

#scrollButton {
	
	background-color: #008b00;
	color: white;
	border: none;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	padding: 0.2rem;
	border-radius: 4px;
}

#currentSensorInfo {
	
	font-size: 1.2rem;
}

#radio-label {
	
	display: inline-block;
	font-size: 1.2rem;
}

#radio-fieldset {
	
	display: inline-block;
	border: none;
}

hr { 
	display: block; 
	height: 1px;
    border: 0; 
	border-top: 1px solid #ccc;
    margin: 1em 0; 
	padding: 0; 
}

img {
    width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
